{% extends "account/base.html" %}
<title>{% block head_title %}Redleem - Скидання пароля{% endblock %}</title>
{% load i18n %}
{% load account %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Ми надіслали вам електронний лист. Якщо під час процесу виникнуть додаткові
    проблеми або запитання, зв'яжіться із нами за посиланням: {% endblocktrans %}</p>
{% endblock %}
