{% extends "account/base.html" %}
<title>{% block head_title %}Redleem - Змінення пароля{% endblock %}</title>
{% load i18n %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %} Посилання для зміни пароля було недійсним, можливо, дане посилання вже було використано.
            Будь ласка, запросіть <a href="{{ passwd_reset_url }}">скидання нового пароля</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
