{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Перевірте вашу адресу електронної пошти." %}{% endblock %}

{% block content %}
    <h1>{% trans "Перевірте вашу адресу електронної пошти." %}</h1>

    <p>{% blocktrans %}Ми надіслали вам електронний лист для перевірки. Перейдіть за цим посиланням, щоб
        завершити процес реєстрації. Якщо під час процесу виникнуть додаткові
    проблеми або запитання, зв'яжіться із нами за посиланням: {% endblocktrans %}</p>

{% endblock %}
