{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    .card {
      height: 100%;
    }

  </style>
</head>

<navbar class="navbar">
    {% include "navbar.html" %}
</navbar>

<body>
<main class="main">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5" id="nav">
        <div class="dropdown" id="category-button">
          <a class="dropdown-toggle navbar-brand" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Категорії
          </a>
          <div class="dropdown-menu category-menu" id="category-menu">
            <div class="scrollable-menu">
              <ul>
                <li><a class="dropdown-item" href="{% url 'core:accessories_category' %}">Аксесуари</a></li>
                <li><a class="dropdown-item" href="{% url 'core:baseball_caps_category' %}">Бейсболки</a></li>
                <li><a class="dropdown-item" href="{% url 'core:jackets_category' %}">Куртки</a></li>
                <li><a class="dropdown-item" href="{% url 'core:caps_category' %}">Кепки</a></li>
                <li><a class="dropdown-item" href="{% url 'core:sneakers_category' %}">Кросівки</a></li>
                <li><a class="dropdown-item" href="{% url 'core:pajamas_category' %}">Піжами</a></li>
                <li><a class="dropdown-item" href="{% url 'core:sandals_category' %}">Сандалі</a></li>
                <li><a class="dropdown-item" href="{% url 'core:shirts_category' %}">Сорочки</a></li>
                <li><a class="dropdown-item" href="{% url 'core:tracksuits_category' %}">Спортивні костюми</a></li>
                <li><a class="dropdown-item" href="{% url 'core:t-shirts_and_tops_category' %}">Футболки та топи</a></li>
                <li><a class="dropdown-item" href="{% url 'core:hoodies_and_sweatshirts_category' %}">Худі та толстовки</a></li>
                <li><a class="dropdown-item" href="{% url 'core:boots_category' %}">Чоботи</a></li>
                <li><a class="dropdown-item" href="{% url 'core:pants_and_jeans_category' %}">Штани та джинси</a></li>
                <li><a class="dropdown-item" href="{% url 'core:shorts_category' %}">Шорти</a></li>
                <li><a class="dropdown-item" href="{% url 'core:socks_category' %}">Шкарпетки</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" style="margin-left: 20px;">Головна
                  <span class="sr-only">(поточний)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:about' %}" style="margin-left: 20px;">Про нас</a>
              </li>
            </ul>
            </div>
          </div>

        <div class="ml-auto">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <form class="form-inline" method="get" action="{% url 'core:search' %}">
              <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" style="width: 220px;" placeholder="Пошук" aria-label="Search" name="query">
              </div>
            </form>
          </div>
          <div class="p-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
        </div>

      </nav>

      <div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
    </div>

<div class="content">
    {% block content %}
  <section class="text-center mb-4">
    {% if object_list %}
      <div class="row wow fadeIn">
        {% for item in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="view overlay">
              <img src="{{ item.image.url }}" class="card-img-top">
              <a href="{{ item.get_absolute_url }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
              <a href="" class="grey-text">
                <h5>
                  <a href="" class="grey-text">
                    <h5><span class="badge purple mr-1; badge-pill">{{ item.get_category_display }}</span></h5>
                  </a>
                </h5>
              </a>
              <h5>
                <strong>
                  <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}</a>
                </strong>
              </h5>
              <div class="price-size">
                <p></p>
                <strong>
                  {% if item.discount_price %}
                    <div class="d-inline-flex">
                      <h5 class="mb-0 mr-2"><del class="font-weight-bold red-text">₴ {{ item.price }}</del></h5>
                      <h4 class="mb-0"><span class="font-weight-bold blue-text">₴ {{ item.discount_price }}</span></h4>
                    </div>
                  {% else %}
                    {{ item.price }}
                  {% endif %}
                </strong>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
    <p style="margin-bottom: -15px;"><h5>Немає товарів із цією категорією</h5></p>
    {% endif %}
  </section>
    {% endblock content %}
</div>

    </div>
  </main>

    {% block extra_body %}
    {% endblock %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="footer">

    {% block footer %}

    <footer class="page-footer text-center font-small mt-4 wow fadeIn" id="footer">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>

    <div class="footer-copyright py-3">
      © 2023 Copyright:
      <a href="" target="_blank"> Redleem.com </a>
    </div>

    </footer>

</div>

    {% endblock footer %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>

<style>
  .category-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
  }

  .category-menu.show {
    display: block;
  }

  .category-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .category-menu ul li {
    padding: 10px;
  }

  .category-menu ul li:hover {
    background-color: #f0f0f0;
  }

  .navbar {
    margin-right: 0px;
  }

  .main {
    margin-top: 72px;
  }

  .footer {
    margin-right: 0px;
  }

  .content {
    margin-left: 0px;
  }

  #nav {
    margin-bottom: -24px !important;
    background-color: red !important;
  }

  #footer {
    background-color: red !important;
  }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const categoryButton = document.getElementById("category-button");
      const categoryMenu = document.getElementById("category-menu");

      categoryButton.addEventListener("mouseover", function () {
        categoryMenu.classList.add("show");
      });

      categoryMenu.addEventListener("mouseout", function () {
        categoryMenu.classList.remove("show");
      });
    });

      document.addEventListener("DOMContentLoaded", function () {
      const categoryButton = document.getElementById("category-button");
      const categoryMenu = document.getElementById("category-menu");

      categoryButton.addEventListener("mouseover", function () {
        categoryMenu.classList.add("show");
      });

      categoryMenu.addEventListener("mouseout", function () {
        categoryMenu.classList.remove("show");
      });

      categoryMenu.addEventListener("click", function (event) {
        if (event.target.tagName === "A") {
          const selectedCategory = event.target.innerText;
        }
      });
    });
</script>