{% extends "categories/base.html" %}
<title>{% block head_title %}Redleem - Про нас{% endblock %}</title>

{% block content %}

<div style="text-align: center;">
  <strong><h3 style="margin-bottom: 30px;">Про нас</h3></strong>
</div>

<hr><br><br>

<div class="row">
    <img style="margin-left: 100px;" src="https://papik.pro/uploads/posts/2022-01/thumbs/1643629622_2-papik-pro-p-logotip-r-2.jpg" width="6%">
    <strong style="margin-top: 10px; margin-left: 10px;"><h1>Redleem - Стиль, якість, комфорт.</h1></strong>
</div>

<br><br><hr><br><br>

<h4 style="line-height: 1.5;">
    ⠀⠀⠀Ми - Redleem, мережа магазинів одягу, яка спеціалізується на продажу турецького одягу за вигідними цінами.
    Наша місія - надавати вам кращий вибір модного та якісного одягу для чоловіків і жінок зі знижками до 70%.
    Наш одяг - це не тільки стиль, але і комфорт та практичність.
</h4><br>

<h4 style="line-height: 1.5;">
    ⠀⠀⠀Наша історія почалася в 2019 році, коли два друзі, Сліпенко Дмитро Євгенович і Цехоцький Артем Олегович,
    відкрили свій перший магазин в Дніпрі. Вони були закохані в турецький одяг і хотіли поділитися своїм смаком з іншими.
    Вони мріяли про те, щоб створити мережу магазинів, яка б відповідала потребам сучасних людей, які цінують якість,
    доступність та комфорт. За чотири роки вони розширили свою мережу до 450 магазинів в Україні, 300 магазинів у
    Польщі, 250 магазинів у Румунії і 140 магазинів у Болгарії. На сьогоднішній день Дмитро і Артем продовжують
    розвивати свій бізнес з любов’ю та ентузіазмом.
</h4><br>

<h4 style="line-height: 1.5;">
    ⠀⠀⠀У нас ви знайдете одяг для будь-якого сезону, стилю та настрою. Від класичних костюмів та суконь до спортивних
    та повсякденних образів. Від яскравих та насичених кольорів до ніжних та пастельних відтінків. Від натуральних
    та екологічних матеріалів до сучасних та інноваційних тканин. У нас ви знайдете все, що вам потрібно, щоб
    виглядати модно та відчувати себе комфортно.
</h4><br>

<h4 style="line-height: 1.5;">
    ⠀⠀⠀Ми не тільки продаємо одяг, але й допомагаємо вам створювати свій індивідуальний стиль.
    У наших магазинах ви можете скористатися послугами наших професійних стилістів, які підберуть для вас найкращі
    варіанти одягу з урахуванням вашої фігури, коліротипу та особистих побажань. Ви також можете замовити
    індивідуальний пошив одягу за вашими мірками та дизайном. Ми прагнемо задовольнити всі ваші потреби та бажання.
</h4><br>

<h4 style="line-height: 1.5;">
    ⠀⠀⠀Ми - Redleem, мережа магазинів одягу, яка працює для вас. Ми любимо нашу роботу і наших клієнтів.
    Ми завжди раді бачити вас в наших магазинах і на нашому сайті. Ми чекаємо на вас!
</h4><footer style="margin-bottom: -250px;"></footer>

{% endblock content %}
