{% extends "categories/base.html" %}
<title>{% block head_title %}Redleem - Підтримка{% endblock %}</title>

{% block content %}
<br>

<div style="text-align: center;">
  <strong><h3>Підтримка</h3></strong>
</div>

<hr><br><br>

<div class="row">
    <img style="margin-left: 100px;" src="https://papik.pro/uploads/posts/2022-01/thumbs/1643629622_2-papik-pro-p-logotip-r-2.jpg" width="6%">
    <strong style=""><h1>Redleem</h1></strong>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
